@use "../global" as *;
.c-picture {
  &__menu {
    background-image: url(../../画像/img/menu.jpg);
    position: relative;
    width: 100%;
    height: 500px;
    &__title {
      width: 100%;
      top: 724px;
      text-align: center;
      position: absolute;
    }
    &__about {
      width: 100%;
      top: 1911px;
      text-align: center;
      position: absolute;
    }
    &__location {
      width: 100%;
      top: 3008px;
      text-align: center;
      position: absolute;
    }
  }
  &__about {
    background-image: url(../../画像/img/about.jpg);
    position: relative;
    width: 100%;
    h2 {
      position: absolute;
    }
  }
  &__location {
    background-image: url(../../画像/img/location.jpg);
    position: relative;
    width: 100%;
    margin-top: 150px;
    h2 {
      position: absolute;
    }
  }
}
