@use "../global" as *;

.p-article {
  &__profile {
    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      object-fit: cover;
    }
    h2 {
      text-align: center;
      margin-top: 26px;
    }
    p {
      margin: 25px 25px 28px 39px;
      @include tab {
        margin: 25px 22px 28px 0px;
      }
    }
  }
  &__runking {
    margin-top: 45px;
    img {
      text-align: center;
      width: 85%;
      margin-top: 18px;
      margin-left: 37px;
      object-fit: cover;
      @include tab {
        width: 95%;
        margin: 23px 0px 0px 0px;
      }
    }
    h2 {
      text-align: center;
    }
    p {
      margin: 0px 26px 2px 38px;
      @include tab {
        width: 95%;
        margin: 0px 0px 0px 0px;
      }
    }
  }
  &__archive {
    margin-top: 48px;
    margin-left: 37px;
    @include tab {
      margin-left: 0px;
    }
    margin-right: 23px;
    h2 {
      text-align: center;
    }
    &__position {
      margin-top: 24px;
      p {
        padding-left: 17px;
        border-top: 1px solid #333;
        line-height: 60px;
      }
    }
  }
  &__about {
    width: 35%;
    @include tab {
      width: 100%;
    }
    p {
      @include f_around(14, regular, 21, 0);
    }
    h2 {
      font-weight: bold;
    }
    &1 {
      margin-top: 26px;
      margin-right: 66px;
      @include tab {
        margin-right: 32px;
      }
    }
    &2 {
      margin-top: 19px;
      @include tab {
        margin-top: 5px;
      }
    }
    &3 {
      margin-top: 6px;
    }
  }
  &__menu {
    width: 29%;
    @include tab {
      width: 100%;
      margin-top: 42px;
    }
    &-bar {
      margin-top: 27px;
      p {
        padding-left: 13px;
        border-top: 1px solid #333;
        line-height: 50px;
      }
      &__last {
        border-bottom: 1px solid #333;
      }
    }
  }
  &__twitter {
    width: 29%;
    margin-left: 56px;
    @include tab {
      width: 100%;
      margin-left: 0px;
      margin-top: 23px;
    }
    height: 333px;
  }
}
