$font-family1: Helvetica Neue, sans-serif;
$font-family2: Arial, sans-serif;
$font-family3: Hiragino Sans, sans-serif;
$font-family4: Hiragino Kaku Gothic ProN, sans-serif;
$font-family5: Hiragino Kaku Gothic, sans-serif;
$font-family6: Meiryo, sans-serif;
